* {
    font-family: sans-serif;
}

.form-div {
    width: 100%;
}

.form-div label {
    font-size: 1.3rem;
}

.form-div input, .form-div textarea {
    font-size: 17px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: 1px solid lightgray;
}

.form-div textarea {
    height: 150px;
    max-width: 100%;
}

.form-div input:focus, .form-div textarea:focus {
    border: 3px solid lightblue;
}

.submit-btn {
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
    padding: 1rem;
    background: #282c34;
    color: #fff;
    border-radius: 0;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit-btn:hover {
    filter: brightness(130%);
}